/02-Fundamentals-Part-2/node_modules/
02-Fundamentals-Part-2/.idea/02-Fundamentals-Part-2.iml
02-Fundamentals-Part-2/.idea/modules.xml
02-Fundamentals-Part-2/.idea/vcs.xml
02-Fundamentals-Part-2/.idea/workspace.xml
03-Developer-Skills/.idea/03-Developer-Skills.iml
03-Developer-Skills/.idea/modules.xml
03-Developer-Skills/.idea/vcs.xml
03-Developer-Skills/.idea/workspace.xml
.gitignore
05-Guess-My-Number/.idea/05-Guess-My-Number.iml
05-Guess-My-Number/.idea/modules.xml
05-Guess-My-Number/.idea/vcs.xml
05-Guess-My-Number/.idea/workspace.xml
05-Guess-My-Number/.idea/codeStyles/codeStyleConfig.xml
05-Guess-My-Number/.idea/codeStyles/Project.xml
09-Data-Structures-Operators/.idea/codeStyles/codeStyleConfig.xml
09-Data-Structures-Operators/.idea/codeStyles/Project.xml
09-Data-Structures-Operators/.idea/09-Data-Structures-Operators.iml
09-Data-Structures-Operators/.idea/modules.xml
09-Data-Structures-Operators/.idea/vcs.xml
09-Data-Structures-Operators/.idea/workspace.xml
09-Data-Structures-Operators/.idea/prettier.xml
12-Numbers-Dates-Timers-Bankist/node_modules/
